.profile-content {
  padding: 40px 0;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
}

.profile-content img {
  max-height: 500px;
  object-fit: contain;
}
.profile-content .profile-content__information p {
  padding-bottom: 20px;
}

.profile-content .profile-content__information p:nth-child(1) {
  text-transform: capitalize;
}

.profile-content .profile-content__information ul {
  list-style: none;
  padding-bottom: 20px;
}
