nav {
  background-color: rgb(122, 121, 121);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

nav a:hover {
  color: black;
}
